﻿@using WebMotors.Application.ViewModels;
@model AnuncioViewModel

@{
    ViewBag.Title = "Criar Anúncio";
}

<h2>Criar Anúncio</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Marca, (SelectList)ViewBag.Makes, new { @class = "form-control", onchange = "getModels(); getVersions()" })
                @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Modelo, new SelectList(new List<ModelViewModel>(), "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Versao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Versao, new SelectList(new List<VersionViewModel>(), "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Versao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ano, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quilometragem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quilometragem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quilometragem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            getModels();
            getVersions();
        });

        function getModels() {
            var makeId = $("#Marca").val();
            $.get(`/Anuncios/GetModels/${makeId}`, function (data) {
                $('#Modelo').children().remove();
                $('#Modelo').attr('disabled', 'true');
                data.forEach(function (item, index) {
                    $('#Modelo').append(`<option value="${item.Id}">${item.Name}</option>`);
                })
                $('#Modelo').attr('disabled', false);
            });
        }

        function getVersions() {
            var makeId = $("#Marca").val();
            $.get(`/Anuncios/GetVersions/${makeId}`, function (data) {
                $('#Versao').children().remove();
                $('#Versao').attr('disabled', 'true');
                data.forEach(function (item, index) {
                    $('#Versao').append(`<option value="${item.Id}">${item.Name}</option>`);
                })
                $('#Versao').attr('disabled', false);
            });
        }
    </script>
}
